# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# System files
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Data output
/data/*
!/data/.gitkeep
